<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>85060351890-sosug8lfaqlcu3k92hq0j4m1pk9prc06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85060351890-sosug8lfaqlcu3k92hq0j4m1pk9prc06</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>85060351890-ngcmhk33fgvgoat5lhknjt09iss7hsq3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwuahvkx6dj5_hRPsMvAeKYg7NyJDIwVo</string>
	<key>GCM_SENDER_ID</key>
	<string>85060351890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cygnismedia.thebarcodeapp</string>
	<key>PROJECT_ID</key>
	<string>the-bar-code-1537254403476</string>
	<key>STORAGE_BUCKET</key>
	<string>the-bar-code-1537254403476.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85060351890:ios:e5e302680d5b1540</string>
	<key>DATABASE_URL</key>
	<string>https://the-bar-code-1537254403476.firebaseio.com</string>
</dict>
</plist>